@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Merriweather);

body{
	font-family: Helvetica;
	font-size: 1em;
	background: url(../images/taj.jpg) no-repeat center center fixed;
	background-size: cover;
}

header{
	background-color: rgba(13, 98, 105, 0.5);
	padding: 0.5em 0.25em 1.5em 0.25em;
	font-family: garamond; 
	font-size: 2em;
}

#topnav{
	float: right;
}

#topnav li{
	float: left;
	padding: 0.5em;
	font-size: 0.5em;
}

#topnav li a{
	color: white;
}

#topnav li a:hover{
	color: #7f8c8d;
}

#container{
	width: 40%;
	border: 0.25em double black;
	margin: 5em auto 0 auto;
	padding: 1.2em;
	background-color: rgba(240, 240, 240, 0.7);
}

#header{
	/*background-color: #06dff2;*/
	background-color: rgba(13, 98, 105, 0.5);
	padding: 1em;
	border: 0.15em solid #000000;
	margin: 0 0 1.2em 0;
	font-family: "Garamond", sans-serif;
	text-transform: uppercase;
	text-align: center;
}


h1{
	font-size: 2em;
	border-top: 0.05em solid black;
	border-bottom: 0.05em solid black;
	padding: 0.5em 0 0.5em 0;
	margin: 0.5em 0 0.5em 0;
}

h2{
	font-size: 1em;
	letter-spacing: 0.15em;
}

p{
	margin: 0 0 1.2em 0;	
	font-family: "Merriweather", serif; 
	line-height: 1.2em;
	font-size: 0.9em;
}

.intro{
	font-style: bold;
}

a{
	color: #2980b9;
	text-decoration: none;
}

a:hover{
	color: #7f8c8d;
}